html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #f5f5f5;
}

#mapDisplay {
  height: 300px;
  width: 100%;
  margin: auto;
  margin-bottom: 40px;
}

#buttons {
  text-align: center;
}

.waves-effect {
  margin-left: 25px;
}

#inputAddress {
  text-align: center;
}

#map {
  text-align: center;
  margin-bottom: 24px;
}

/*button#compute {
  margin: auto;
}*/

/*#compute {
  text-align: center;
}*/

#submitBtn {
  text-align: center;
/*  margin-left: -25px;*/
}

.waves-effect {
  margin-left: 0;
}

#instructions {
  text-align: center;
  width: 100%;
  color: #fafafa;
  margin-left: 250px;
  bottom: 100px;
  position: absolute;
  font-weight: 200;
}

#mapHeader {
  font-size: 24px;
  text-align: center;
}

#results {
  width: 100%;
}

/*.card {
  margin-right: 10px;
}*/

.card-content {
  width: 100%;
  background-color: #EE6E73;
  color: #f5f5f5;
}

#cardNum-1, #cardNum-2, #cardNum-3, #cardNum-4 {
  padding: 0;
}

/*#cardNum-1, #cardNum-2, #cardNum-3 {
  margin-right: 5px;*/
}


#vehicleInputs {
  width: 100%;
}
#year, #make, #model {
  margin: 0 auto;
}

.container .row {
  margin: 35px 0;
}

.mapRow .col {
  padding: 0;
}

.brand-logo {
  margin-left: 24px;
}

/*#cardNum-1 .card-content {
  background-color: #4285F4;
}

#cardNum-2 .card-content {
  background-color: #EA4335;
}

#cardNum-3 .card-content {
  background-color: #FBBC05;
}

#cardNum-4 .card-content {
  background-color: #34A853;
}*/

#year, #make, #model {
  margin: 0 auto;
}

#top-img {
  bottom: 30%;
}



